.redes p {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    height: 150px;
    margin: 20px;
    padding: 20px;
}
.img .bons{
    height: 130px;
    margin: 20px;
    padding: 20px;
}

.img img{
    border-radius: 50%;
}